{{ define "main" }}

{{ partial "hero.html" . }}

{{ $allPosts := where .Site.RegularPages "Section" "posts" }}

{{ $latestPost := false }}
{{ if gt (len $allPosts) 0 }}
  {{ $latestPost = index $allPosts 0 }}
{{ end }}
{{ $recentPosts := $allPosts | after 1 }}
{{ $paginator := .Paginate $recentPosts }}

<div class="wrap">
  {{ with $latestPost }}
    {{ partial "latest-feed.html" . }}
  {{ end }}

  <div class="section-label">
    <h2>Recent entries</h2>
  </div>

  <div class="grid">
    {{ range $paginator.Pages }}
      {{ partial "post-card.html" . }}
    {{ end }}
  </div>

  {{ partial "pagination.html" . }}

</div>

{{ end }}
